// Refrence Resources
// https://color.adobe.com/
// http://www.colorhexa.com/384452

$color-initial: #fff !default
$color-primary: #384452 !default
$color-primary-blue: #29486B !default
$color-grey: #d1d8df !default

.primary-black
  color: $color-primary
  background-color: $color-primary

.primary-black-blue
  color: $color-primary-blue
  background-color: $color-primary-blue

.grey
  color: $color-grey
  background-color: $color-grey
